<div class="action-box image-edit-base norender" id="stage-resize">
  <div class="img-display">
    <img id="resize-img" />
    <div id="choose-region"></div>
    <div id="hide-region"></div>
  </div>
  <div class="options-side">
    <h1>Resize</h1>
    <h3>Select target size</h3>
    <div class="buttons">
      <input
        type="range"
        min="1"
        max="100"
        step="1"
        value="90"
        class="slider"
        id="carving-percent-slider"
      />
      <button class="blue-button" id="resize-next">Next Step</button>
      <div style="padding: 10px"></div>
    </div>
  </div>
</div>
