<div class="action-box image-edit-base norender" id="stage-preview">
  <div class="img-display">
    <img id="preview-img" />
  </div>
  <div class="options-side">
    <h1>Preview</h1>
    <div class="buttons">
      <button class="blue-button" id="preview-retry">Retry</button>
      <button class="blue-button" id="preview-next">Next Step</button>
      <div style="padding: 10px"></div>
    </div>
  </div>
</div>
