<div class="action-box" id="stage-upload">
  <button class="upload-region" id="upload-button">
    <h1>Click to Upload</h1>
  </button>
  <input type="file" id="file-input" accept=".png,.jpg" hidden />
</div>
