<div class="action-box image-edit-base norender" id="stage-review">
  <div class="img-display">
    <img id="review-img" />
  </div>
  <div class="options-side">
    <h1>Review</h1>
    <div class="buttons">
      <button class="blue-button" id="review-dwn">Download</button>
      <button class="blue-button" id="review-reset">Start Over</button>
      <div style="padding: 10px"></div>
    </div>
  </div>
</div>
