<html>
  <head>
    <link rel="stylesheet" href="/assets/css/bundle.css" />
    <link rel="stylesheet" href="../scss/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Online Seam Carving Tool" />
    <meta name="og:type" content="website" />
    <meta name="og:title" content="Seam Carving Online" />
    <meta name="og:description" content="Online Seam Carving Tool" />
    <title>Seam Carving Online</title>
    <script src="/assets/js/bundle.js"></script>
    <script src="../js/index.js"></script>
  </head>
  <body class="conversion-page">
    <!-- Fix flashing: https://stackoverflow.com/a/57888310 -->
    <script>0</script>

    <header>
      <div>
        <img src="../assets/images/logo.png" alt="Seam Carving Online" style="height:100px">  
      </div>
      <div>
        <button>Convert</button>
        <button>Learn</button>
        <button>Assets</button>
      </div>
    </header>

    <div style="padding: 40px;"></div>

    <progress-bar>
      <div>
        <p>Upload</p>
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="20" fill="#595FD9"/>
        </svg>
      </div> 
      <div>
        <p>Preview</p>
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="20" fill="#595FD9"/>
        </svg>
      </div>
      <div>
        <p>Masking</p>
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="20" fill="#595FD9"/>
        </svg>
      </div>
      <div>
        <p>Resize</p>
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="20" fill="#595FD9"/>
        </svg>
      </div>
      <div>
        <p>Review</p>
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="20" fill="#595FD9"/>
        </svg>
      </div>
    </progress-bar>

    <div style="padding: 10px;"></div>

    <div class="action-box" id="upload">
      <button class = "full-size-button">
        <h1>Upload image here</h1>
      </button>
    </div>
    <div class="action-box" style="visibility: collapse;" id="preview">
      <div class="options-side" >
        <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Lights" style="max-height:70%; max-width:70%; border-radius: 10px;" >
      </div>
      <div class="options-side">
        <h1>
          Preview
        </h1> 
        <div class="buttons">
          <button class = "blue-button">Retry</button> 
          <button class = "blue-button">Next Step</button>
          <div style="padding: 10px;"></div>
        </div>
      </div>
    </div>

    <div class="action-box" style="flex-direction: row; visibility: collapse;" id="masking">
      <div class="options-side">
        <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Lights" style="max-height:70%; max-width:70%; border-radius: 10px;" >
      </div>
      <div class="options-side">
        <div style="display: flex; flex-direction: column">
          <h1>
            Masking
          </h1> 
                  <p>Draw on the image to select regions to keep</p>
        </div>
        <div class="buttons">
          <button class = "blue-button">Retry</button>
          <button class = "blue-button">Next Step</button>
          <div style="padding: 10px;"></div>
        </div>
      </div>
    </div>

    <div class="action-box" style="flex-direction: row; visibility: collapse;" id="resize">
      <div class="options-side">
        <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Lights" style="max-height:70%; max-width:70%; border-radius: 10px;" >
      </div>
      <div class="options-side">
        <div style="display: flex; flex-direction: column">
          <h1>
            Resize
          </h1> 
          <p>Select target size</p>
        </div>
        <div class="buttons">
          <p>TODO: ADD NUMBER HERE</p>
          <input type="range" min="1" max="100" value="80" class="slider" id="carvingPercent">
          <button class = "blue-button">Next Step</button>
          <div style="padding: 10px;"></div>
        </div>
      </div>
    </div>


    <div class="action-box" id="processing" style="visibility: collapse;">
        <h1>Processing</h1>
    </div>

    <div class="action-box" style="flex-direction: row; visibility: collapse;" id="review">
      <div class="options-side">
        <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Lights" style="max-height:70%; max-width:70%; border-radius: 10px;" >
      </div>
      <div class="options-side">
        <div style="display: flex; flex-direction: column">
          <h1>
            Review
          </h1> 
        </div>
        <div class="buttons">
          <button class = "blue-button">Download</button>
          <button class = "blue-button">Start Over</button>
          <div style="padding: 10px;"></div>
        </div>
      </div>
    </div>
    <div style="padding: 40px;"></div>
    <hr>

    <div class = "page">
      <h1>What is Seam Carving?</h1>
      <h1>
        Seam carving is a way to resize images by automatically removing or adding pixels in the least noticeable areas. It works by finding the least important pixel paths (seams) across the image and deleting or inserting pixels along those seams. This allows the image to be made smaller or larger while keeping the important objects and details intact.
      </h1>
    </div>

    <hr>

    <div class = "page">
      <h1>Made with ❤️ by Team 2019</h1>
    </div>
  </body>
  
</html>
