{% import "partials/progBarDot.njk" as pbd %}
<!---->
{% import "partials/progBarElement.njk" as pbe %}

<html>
  <head>
    <link rel="stylesheet" href="/assets/css/bundle.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Online Seam Carving Tool" />
    <meta name="og:type" content="website" />
    <meta name="og:title" content="Seam Carving Online" />
    <meta name="og:description" content="Online Seam Carving Tool" />
    <title>Seam Carving Online</title>
    <script src="/assets/js/bundle.js"></script>
  </head>
  <body>
    <!-- Fix flashing: https://stackoverflow.com/a/57888310 -->
    <script>
      0;
    </script>

    <div class="section-main">
      <header>
        <div>
          <img
            src="../assets/images/logo.png"
            alt="Seam Carving Online"
            style="height: 100px"
          />
        </div>
        <div class="navbar-button-box">
          <button id="btn-scroll-convert">
            <p>Convert</p>
          </button>
          <button id="btn-scroll-credits">
            <p>Credits</p>
          </button>
        </div>
      </header>

      <div class="app-body">
        <div class="progress-bar">
          <div class="steps">
            <p>Upload</p>
            <p>Preview</p>
            <p>Masking</p>
            <p>Resize</p>
            <p>Process</p>
            <p>Download</p>
          </div>
          <div class="bar">
            <!---->
            {{ pbe.progBarElement("progBar1", "#595FD9") }}
            <!---->
            {{ pbe.progBarElement("progBar2", "#DBDAE7") }}
            <!---->
            {{ pbe.progBarElement("progBar3", "#DBDAE7") }}
            <!---->
            {{ pbe.progBarElement("progBar4", "#DBDAE7") }}
            <!---->
            {{ pbe.progBarElement("progBar5", "#DBDAE7") }}
            <!---->
            {{ pbd.progBarDot("progBar6", "#DBDAE7") }}
          </div>
        </div>

        {% include "partials/stageUpload.njk" %}
        <!---->
        {% include "partials/stageUploadReject.njk" %}
        <!---->
        {% include "partials/stagePreview.njk" %}
        <!---->
        {% include "partials/stageMasking.njk" %}
        <!---->
        {% include "partials/stageResize.njk" %}
        <!---->
        {% include "partials/stageProcessing.njk" %}
        <!---->
        {% include "partials/stageReview.njk" %}
      </div>
    </div>

    <div class="section-credits">
      <div class="centerer">
        <div>
          <h1>Made with ❤️ by</h1>
          <div class="profile-flex">
            <img src="../assets/images/piman.png" alt="piman profile" />
            <img src="../assets/images/nikolas.png" alt="nikolas profile" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
