.action-box {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 700px;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-shrink: 0;
  border-radius: 20px;
  background: #f6f6fb;

  // To make the outer size not affected by padding
  box-sizing: border-box;
}

.full-size-button {
  display: flex;
  height: 80%;
  width: 90%;
  padding: 0px 351px 0px 352px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 3px dashed #595fd9;
}

.options-side {
  width: 30%;
  height: 100%;
  background-color: #dbdae7;
  border-radius: 0px 20px 20px 00px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image-side {
    width: 70%; height: 100%; display: flex; align-items:center; justify-content: center;
}

.buttons {
    display: flex; flex-direction: column; gap: 20px; align-items: center;
}
