header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  background-color: #f6f6fb;

  // To make the header's size not affected by padding
  box-sizing: border-box;

  padding: 20px;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  button {
    display: inline-flex;
    height: 80px;
    padding: 11px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #595fd9;

    p {
      color: #f6f6fb;
      text-align: center;
      font-family: Rubik;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
