.background {
  background-color: #ccc5c5;
}

.header {
  padding: 10px;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  text-align: left;
  background: #7e7575;
  color: white;
  font-size: 30px;
}
.border-div {
  border: 3px solid rgb(3, 48, 78);
  padding: 1px;
  min-width: 50vw;
}

.title {
  font-size: 30px;
  color: #06143d;
  font-family: 'Inter';
  padding-left: 20px;
}

.subtitle {
  font-size: 10px;
  color: #06143d;
  font-family: 'Inter';
  padding-left: 20px;
}

.normal-text {
  font-size: 15px;
  color: #050f30;
  font-family: 'Inter';

}
#tabs {
  border-radius: 15px 15px 0px 0px;
}

#upload-button {
  padding: 2%;
  border-radius: 20%;
  border-width: 5px;
  background-color: #3f3f3f;
}

#file_upload_div {
  display: block;
}

#file_uploaded_div {
  display: none;
}
#masking_div {
  display: none;
}
#settings_div {
  display: none;
}

#loading_div {
  display: none;
}

#show_image_div {
  display: none;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.text-in-button {
  color: white;
  font-weight: bolder;
  font-size: 40px;
  font-family: 'Inter';
}
.mini-text-in-button {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  font-family: 'Inter';
}
 .vertical-align {
   display: flex;
   flex-wrap: wrap;
 }

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fafafa;
  padding: 2px;
  outline: solid;
  outline-color: #3d3d3d;
  outline-width: 1px;
}
.not-filled-in {
  background-color: #c1dad8;
}
.filled-in {
  background-color: #304381;
}
.flexbox-circles-thing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.flexbox-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px;
  gap: 10px;
}
.padding {
  padding: 20px;
}


